.DirectionButton {
	clear: both;
	height: 100%;
	float: left;
	width: 132px;
}

.toggle {
	background-color: #848E98;
	border-radius: 13px;
	color: #fff;
	cursor: pointer;
	font-size: 28px;
	height: 48px;
	margin: 20px 0 20px 38px;
	width: 56px
}

.toggle:before {
	font-family: 'FontAwesome';
	line-height: 50px;
	margin-left: 20px;
	-webkit-text-stroke: 1px #848E98;
}

.toggle.received:before {
	content: '\f053';
	margin-left: 17px;
}

.toggle.sent:before {
	content: '\f054';
}
