.Message {
	background-color: #007df9;
	border-radius: 39px;
	clear: both;
	color: #fff;
	float: right;
	font-size: 32px;
	margin: 10px 32px 10px 0;
	max-width: 452px;
	padding: 20px 30px;
}

.Message.received {
	background-color: #E5E5E9;
	color: #000;
	float: left;
	margin-left: 32px;
}

.Message.sent + .Message.sent {
	margin: -7px 32px 10px 0;
}

.Message.received + .Message.received {
	margin: -7px 0 10px 32px;
}
