/* 44 76 */
.MessageHeader {
	position: relative;
	width: 100%;
}

.back-icon {
	cursor: pointer;
	height: 44px;
	position: absolute;
	left: 25px;
	top: 24px;
	width: 44px;
}

.back-icon:before {
	color: #007EF9;
	content: '\f053';
	display: inline-block;
	font-family: 'FontAwesome';
	font-size: 44px;
	-webkit-text-stroke: 3px #F6F5F6;
	transform: scale(1, 1.1);
}

.info-icon {
	border: 2px solid #007EF9;
	border-radius: 22px;
	cursor: pointer;
	height: 40px;
	position: absolute;
	right: 32px;
	top: 24px;
	width: 40px;
}

.info-icon:before {
	color: #007EF9;
	content: 'i';
	font-family: 'FontAwesome';
	font-size: 28px;
	left: 17px;
	position: absolute;
	top: 5px;
}

.contact-image {
	background: #ccc;
	border-radius: 40px;
	height: 80px;
	margin: 1px auto;
	text-align: center;
	width: 80px;
}

.contact-image > span {
	color: #fff;
	font-size: 38px;
	line-height: 80px;
}

.contact-name {
	background: transparent;
	border: none;
	font-size: 22px;
	margin-top: 5px;
	outline: none;
	text-align: center;
	width: 100%;
}
