.MessageInput {
	background-color: #fff;
	border: 2px solid #C7C7CB;
	border-radius: 34px;
	box-sizing: border-box;
	float: right;
	height: 68px;
	margin: 10px 32px 10px 0;
	width: 586px;
}

.MessageInput .send-button {
	background-color: #848E98;
	border-radius: 26px;
	cursor: pointer;
	float: right;
	height: 48px;
	margin: 8px 8px 0 0;
	width: 48px;
}

.MessageInput .send-button:before {
	color: #fff;
	content: '\f130';
	display: block;
	font-family: 'FontAwesome';
	font-size: 28px;
	line-height: 48px;
	text-align: center;
}

.MessageInput input.has-input + .send-button {
	background-color: #007DF9;
}

.MessageInput input.has-input + .send-button:before {
	content: '\f062';
	line-height: 46px;
	-webkit-text-stroke: 2px #007DF9;
}

.MessageInput input {
	background-color: #fafafa;
	border: 0;
	color: transparent;
	font-size: 32px;
	height: 62px;
	margin-left: 32px;
	outline: none;
	text-shadow: 0 0 0 #000;
	width: 486px;
}

.MessageInput ::-webkit-input-placeholder {
	color: #C7C7CB;
}
