
.StatusBarBattery {
	display: inline-block;
}

.StatusBarBattery .battery-text {
	display: inline-block;
	font-size: 20px;
	margin: -1px 5px 0 0;
	vertical-align: top;
	width: auto;
}

.StatusBarBattery .battery-text input {
	background: transparent;
	border: none;
	display: inline-block;
	font-size: 20px;
	outline: none;
	text-align: right;
	width: auto;
}

.StatusBarBattery .battery-text:after {
	content: '%';
	margin-left: 0px;
}

.StatusBarBattery .battery-icon {
	display: inline-block;
	font-family: 'FontAwesome';
	font-size: 22px;
	margin-right: 14px;
	width: 25px;
}

.StatusBarBattery .battery-icon.full:before {
	content: '\f240';
}

.StatusBarBattery .battery-icon.high:before {
	content: '\f241';
}

.StatusBarBattery .battery-icon.medium:before {
	content: '\f242';
}

.StatusBarBattery .battery-icon.low:before {
	content: '\f243';
}

.StatusBarBattery .battery-icon.empty:before {
	content: '\f244';
}
